ipykernel
xarray[complete]
scikit-learn
rioxarray
tabulate 
PyYAML
tqdm
mlstac
sentinelhub
torch
segmentation_models_pytorch
creds
mgrs
scikit-image
scipy
geopandas
folium
opencv-python
plotly
nbformat
requests
tacoreader
aiohttp
kneed